div.curstr {
    width: 50%;
    margin: 0.25em auto 0.25em auto;
    padding: 1em 1em;
    background-color: #336;
    color: #FFF;
    text-shadow: 0.1em 0.1em #000F;
    text-align: center;
    text-wrap: nowrap;
    overflow: auto;
}
div.bigger {
    width: 80%;
}
span.curstr\+ {
    color: #F66;
    text-shadow: inherit inherit #6006;
}
span.curstr\* {
    color: #6F6;
    text-shadow: inherit inherit #0606;
}
a.curstr {
    color: inherit;
    text-decoration: none;
}
a.curstr:hover {
    text-decoration: underline;
}