h1 {
    font-size: 32px;
    color: #8800FF;
}
h2 {
    font-size: 24px;
    color: #440088;
}
h3 {
    font-size: 20px;
    color: #220044;
}
h4 {
    font-size: 18px;
    color: #110022;
}
h5 {
    font-size: 16px;
    color: #000000;
}
h6 {
    font-size: 16px;
    color: #000000;
}
p {
    font-size: 16px;
    color: #000000;
}
.center {
    text-align: center;
}
