@import url("font/godoMaum.css");
@import url("color.css");
/*
body.tutotile {
    background-image: url("tutotile.png");
    background-repeat: repeat;
    background-attachment: fixed;
}
*/
:root {
    --tuto-bg-light-color: #303363;
    --tuto-bg-dark-color: #202242;
    --tuto-bg-shadow-color: #000A;
    --tuto-bg-color: light-dark(var(--tuto-bg-light-color), var(--tuto-bg-dark-color));

    --tuto-fg-light-color: #A0AACA;
    --tuto-fg-dark-color: #8088B8;
    --tuto-fg-color: light-dark(var(--tuto-fg-light-color), var(--tuto-fg-dark-color));

    --tuto-a-light-color: #FFFFFF;
    --tuto-a-dark-color: #C0CCDC;
    --tuto-a-color: light-dark(var(--tuto-a-light-color), var(--tuto-a-dark-color));
}
.adofai {
    background-color: var(--tuto-bg-color);
    color: var(--tuto-fg-color);
    font-family: "godoMaum", "16FontSeto", "HappyZcool", "Consolas", "Courier New", monospace, sans-serif, serif;
    text-shadow: 0.1rem 0.1rem 0rem #000A;
}
.adofai a {
    color: var(--tuto-a-color);
    font-weight: inherit;
    text-shadow: inherit;
    text-decoration: none;
}
.adofai a[title] {
    text-decoration: dotted underline;
}
.adofai a:hover {
    text-decoration: solid underline;
}
.adofai a:active {
    text-shadow: -0.1rem -0.1rem 0rem #000A;
}
div.adofai {
    padding: 1rem 1rem;
    text-wrap: nowrap;
    overflow: auto;
}
code.adofai {
    font-weight: unset;
}
.adofai .\/, .adofai .\-, .adofai .\+ {
    color: var(--red-dark-colors);
    text-shadow: inherit inherit var(--red-shadow-color);
}
.adofai .\+\-, .adofai .\-\+, .adofai .\*\/, .adofai .\/\* {
    color: var(--orange-dark-colors);
    text-shadow: inherit inherit var(--orange-shadow-color);
}
.adofai .\* {
    color: var(--green-dark-colors);
    text-shadow: inherit inherit var(--green-shadow-color);
}
.adofai sup, .adofai .\^ {
    color: var(--cyan-dark-colors);
    text-shadow: inherit inherit var(--cyan-shadow-color);
}
.adofai sub, .adofai ._ {
    color: var(--magenta-dark-colors);
    text-shadow: inherit inherit var(--magenta-shadow-color);
}
span.fire {
    color: var(--red-color);
}
span.ice {
    color: var(--blue-color);
}
span.cursed {
    color: var(--magenta-color);
}
span.fire.cursed {
    color: var(--yellow-color);
}
span.ice.cursed {
    color: var(--cyan-color);
}