@import url("adofai.css");
@import url("font/16FontSeto.css");
@import url("font/HappyZcool.css");
.adofai {
    font-family: "16FontSeto", "HappyZcool", "Consolas", "Courier New", "SimHei", "Microsoft YaHei", monospace, sans-serif, serif;
}