@font-face {
    font-family: "godoMaum";
    src: url("godoMaum.ttf") format("truetype");
}
body.tutotile {
    background-image: url("tutotile.png");
    background-repeat: repeat;
    background-attachment: fixed;
}
.curstr {
    background-color: #336;
    color: #FFF;
    font-family: "godoMaum", "Consolas", "Courier New", monospace, sans-serif, serif;
    text-shadow: 0.1em 0.1em 0em #000A;
}
div.curstr {
    margin: 0.25em 2em 0.25em 2em;
    color: #AAC;
    padding: 1em 1em;
    font-size: 24px;
    text-wrap: nowrap;
    overflow: auto;
}
div.curstr a {
    color: #FFF;
    font-weight: inherit;
    text-shadow: inherit;
    text-decoration: none;
}
div.curstr a:hover {
    text-decoration: solid underline;
}
div.curstr .annotated {
    text-decoration: dotted underline;
}
code.curstr {
    font-weight: unset;
    font-size: 24px;
}
.\- {
    color: #F55;
    text-shadow: inherit inherit #6006;
}
.\+ {
    color: #F55;
    text-shadow: inherit inherit #6006;
}
.\+\- {
    color: #FA5;
    text-shadow: inherit inherit #6006;
}
.\-\+ {
    color: #FA5;
    text-shadow: inherit inherit #6006;
}
.\* {
    color: #5F5;
    text-shadow: inherit inherit #0606;
}
.\^ {
    color: #5FF;
    text-shadow: inherit inherit #0606;
}