@font-face {
    font-family: "godoMaum";
    src: url("godoMaum.ttf") format("truetype");
}
@font-face {
    font-family: "16FontSeto";
    src: url("16FontSeto.ttf") format("truetype");
}
@font-face {
    font-family: "HappyZcool";
    src: url("HappyZcool.ttf") format("truetype");
}
body.tutotile {
    background-image: url("tutotile.png");
    background-repeat: repeat;
    background-attachment: fixed;
}
.adofai {
    background-color: #336;
    color: #AAC;
    font-family: "godoMaum", "16FontSeto", "HappyZcool", "Consolas", "Courier New", monospace, sans-serif, serif;
    text-shadow: 0.1em 0.1em 0em #000A;
}
.adofai a {
    color: #FFF;
    font-weight: inherit;
    text-shadow: inherit;
    text-decoration: none;
}
.adofai a:hover {
    text-decoration: solid underline;
}
.adofai .annotated {
    text-decoration: dotted underline;
}
div.adofai {
    margin: 0.25em 2em 0.25em 2em;
    padding: 1em 1em;
    font-size: 24px;
    text-wrap: nowrap;
    overflow: auto;
}
code.adofai {
    font-weight: unset;
    font-size: 24px;
}
.\/,.\-,.\+ {
    color: #F55;
    text-shadow: inherit inherit #6006;
}
.\+\-,.\-\+,.\*\/,.\/\* {
    color: #FA5;
    text-shadow: inherit inherit #6006;
}
.\* {
    color: #5F5;
    text-shadow: inherit inherit #0606;
}
.\^ {
    color: #5FF;
    text-shadow: inherit inherit #0606;
}