:root {
    --bg-light-color: #FFF;
    --bg-dark-color: #111;
    --bg-colors: light-dark(var(--bg-light-color), var(--bg-dark-color));
    --text-light-color: #000C;
    --text-dark-color: #FFFC;
    --text-colors: light-dark(var(--text-light-color), var(--text-dark-color));
    --yangsy-light-color: #C8F;
    --yangsy-medium-color: #84C;
    --yangsy-dark-color: #426;
    --yangsy-light-colors: light-dark(var(--yangsy-light-color), var(--yangsy-medium-color));
    --yangsy-light-rolocs: light-dark(var(--yangsy-medium-color), var(--yangsy-light-color));
    --yangsy-colors: light-dark(var(--yangsy-light-color), var(--yangsy-dark-color));
    --yangsy-rolocs: light-dark(var(--yangsy-dark-color), var(--yangsy-light-color));
    --yangsy-dark-colors: light-dark(var(--yangsy-medium-color), var(--yangsy-dark-color));
    --yangsy-dark-rolocs: light-dark(var(--yangsy-dark-color), var(--yangsy-medium-color));
    --monika-light-color: #8FC;
    --monika-medium-color: #4C8;
    --monika-dark-color: #264;
    --monika-light-colors: light-dark(var(--monika-light-color), var(--monika-medium-color));
    --monika-light-rolocs: light-dark(var(--monika-medium-color), var(--monika-light-color));
    --monika-colors: light-dark(var(--monika-light-color), var(--monika-dark-color));
    --monika-rolocs: light-dark(var(--monika-dark-color), var(--monika-light-color));
    --monika-dark-colors: light-dark(var(--monika-medium-color), var(--monika-dark-color));
    --monika-dark-rolocs: light-dark(var(--monika-dark-color), var(--monika-medium-color));
    --link-light-color: #AAF;
    --link-medium-color: #77C;
    --link-dark-color: #448;
    --link-light-colors: light-dark(var(--link-light-color), var(--link-medium-color));
    --link-light-rolocs: light-dark(var(--link-medium-color), var(--link-light-color));
    --link-colors: light-dark(var(--link-light-color), var(--link-dark-color));
    --link-rolocs: light-dark(var(--link-dark-color), var(--link-light-color));
    --link-dark-colors: light-dark(var(--link-medium-color), var(--link-dark-color));
    --link-dark-rolocs: light-dark(var(--link-dark-color), var(--link-medium-color));
}