div.curstr {
    margin: 0.25em 2em 0.25em 2em;
    padding: 1em 1em;
    background-color: #336;
    color: #FFF;
    text-shadow: 0.1em 0.1em #000F;
    text-wrap: nowrap;
    overflow: auto;
}
span.curstr\+ {
    color: #F66;
    text-shadow: inherit inherit #6006;
}
span.curstr\* {
    color: #6F6;
    text-shadow: inherit inherit #0606;
}
a.curstr {
    color: inherit;
    text-shadow: inherit;
    text-decoration: none;
}
a.curstr:hover {
    text-decoration: solid underline;
}
a.annotated {
    text-decoration: dotted underline;
}