@import url("color.css");
body {
    margin: auto;
    padding: 0rem 0rem;
    background-color: var(--bg-colors);
    color: var(--text-colors);
    padding: 1rem 1rem 1rem 1rem;
}
div, section, article {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0rem 2rem 0rem 2rem;
}
.bar {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    --bar-color: var(--yangsy-light-colors);
    border-left: 0.25rem solid var(--bar-color);
    background-color: rgb(from var(--bar-color) r g b / 25%);
}
.baz {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    --baz-color: var(--yangsy-dark-colors);
    border: 0.25rem solid var(--baz-color);
    background-color: rgb(from var(--baz-color) r g b / 25%);
}