@import url("yangsy.css");
@import url("font/Aller.css");
body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0rem 0rem;
    background-color: light-dark(var(--monika-medium-color), color-mix(in srgb, var(--monika-dark-color), #000 50%));
    color: var(--text-colors);
}
p, div, section, article {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0rem 2rem 0rem 2rem;
}
#splash {
    font-family: "Aller", "Arial", "Helvetica", sans-serif;
}
.bar {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    --bar-color: var(--yangsy-light-colors);
    box-sizing: border-box;
    border-left: 0.25rem solid var(--bar-color);
    background-color: rgb(from var(--bar-color) r g b / 25%);
}
.baz {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    --baz-color: var(--monika-dark-colors);
    box-sizing: border-box;
    border: 0.25rem solid var(--baz-color);
    background-color: rgb(from var(--baz-color) r g b / 25%);
}
iframe {
    width: 100%;
    border: 0.25rem inset var(--monika-medium-color);
}
aside {
    width: 20%;
    min-height: 100vh;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}
nav {
    position: relative;
    height: 75vh;
    top: 0%;
    margin: 0%;
    padding: 0rem 0rem 0rem 2rem;
    overflow: visible scroll;
    background-color: var(--monika-colors);
    color: var(--monika-dark-rolocs);
}
nav h1 {
    font-size: 2rem;
    color: var(--monika-dark-rolocs);
}
nav ol, nav ul, nav dl, nav dd {
    padding: 0rem 1rem;
}
nav a {
    --a-fg-colors: var(--monika-rolocs);
    --a-bg-colors: var(--monika-medium-color);
}
aside>div {
    position: relative;
    height: 25vh;
    bottom: 0%;
    margin: 0%;
    padding: 1rem 2rem;
    overflow: visible scroll;
    background-color: var(--bg-colors);
}
div.right {
    width: 80%;
    min-height: 100vh;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
header {
    position: relative;
    width: 100%;
    margin: 0%;
    padding: 0rem 2rem;
    background-color: var(--yangsy-medium-color);
}
header h1 {
    font-size: 2.5rem;
    color: var(--bg-light-color);
}
div.content {
    position: relative;
    width: 100%;
    overflow: visible scroll;
    margin: 0%;
    padding: 1rem 2rem;
    background-color: var(--bg-colors);
}
footer {
    position: relative;
    width: 100%;
    margin: 0%;
    padding: 1rem 2rem;
    background-color: var(--yangsy-colors);
}