body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    padding: 1em 2em;
    background-color: #4C8;
    color: #000;
}
p, div, section, article {
    margin: 0.5em 0em 0.5em 0em;
    padding: 0em 2em 0em 2em;
}
.bar {
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-left: 0.25em solid #C8F;
    background-color: #C8F4;
}
.baz {
    margin: 0.5em 0em 0.5em 0em;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 0.25em solid #84F;
    background-color: #84F4;
}
iframe {
    width: 100%;
    border: 0.25em inset #4C8;
}
aside {
    width: 20%;
    min-height: 100vh;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}
nav {
    top: 0%;
    margin: 0%;
    padding: 0em 2em;
    background-color: #BED;
}
nav ol, nav ul, nav dl, nav dd {
    padding: 0em 1em;
}
aside>div {
    position: sticky;
    bottom: 0%;
    margin: 0%;
    padding: 1em 2em;
    background-color: #FFF;
}
div.right {
    width: 80%;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
header {
    position: relative;
    top: 0%;
    margin: 0%;
    width: 100%;
    padding: 0em 2em;
    overflow: auto;
    background-color: #84F;
}
div.content {
    padding: 1em 2em;
    margin: 0%;
    width: 100%;
    background-color: #FFF;
}
footer {
    position: sticky;
    margin: 0%;
    bottom: 0%;
    width: 100%;
    padding: 1em 2em;
    background-color: #EDF;
}