@import url("color.css");
@font-face {
    font-family: "Aller";
    src: url("Aller_Std_Rg.ttf") format("truetype");
    font-weight: unset;
    font-style: unset;
}
@font-face {
    font-family: "Aller";
    src: url("Aller_Std_Bd.ttf") format("truetype");
    font-weight: bold;
    font-style: unset;
}
@font-face {
    font-family: "Aller";
    src: url("Aller_Std_It.ttf") format("truetype");
    font-weight: unset;
    font-style: italic;
}
@font-face {
    font-family: "Aller";
    src: url("Aller_Std_BdIt.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}
body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin: auto;
    padding: 1rem 2rem;
    background-color: light-dark(var(--monika-dark-color), color-mix(in srgb, var(--monika-darker-color), #000 50%));
    color: var(--text-color);
}
p, div, section, article {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0rem 2rem 0rem 2rem;
}
#splash {
    font-family: "Aller", "Arial", "Helvetica", sans-serif;
}
.bar {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    --bar-color: light-dark(var(--yangsy-light-color), var(--yangsy-dark-color));
    border-left: 0.25rem solid var(--bar-color);
    background-color: rgb(from var(--bar-color) r g b / 25%);
}
.baz {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    --baz-color: light-dark(var(--monika-dark-color), var(--yangsy-darker-color));
    border: 0.25rem solid var(--baz-color);
    background-color: rgb(from var(--baz-color) r g b / 25%);
}
iframe {
    width: 100%;
    border: 0.25rem inset var(--monika-dark-color);
}
aside {
    width: 20%;
    min-height: 100vh;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}
nav {
    top: 0%;
    margin: 0%;
    padding: 0rem 0rem 0rem 2rem;
    background-color: light-dark(var(--monika-light-color), var(--monika-darker-color));
    color: light-dark(var(--monika-darker-color), var(--monika-dark-color));
}
nav h1 {
    font-size: 2rem;
    color: light-dark(var(--monika-darker-color), var(--monika-dark-color));
}
nav ol, nav ul, nav dl, nav dd {
    padding: 0rem 1rem;
}
nav a {
    color: var(--monika-reroloc);
    text-shadow: 0.05rem 0.05rem 0rem var(--monika-dark-color);
    font-weight: bold;
    font-size: inherit;
}
nav a:hover {
    color: var(--monika-dark-color);
    text-shadow: 0.05rem 0.05rem 0rem var(--monika-reroloc);
}
aside>div {
    position: sticky;
    bottom: 0%;
    margin: 0%;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
}
div.right {
    width: 80%;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
header {
    position: relative;
    top: 0%;
    margin: 0%;
    width: 100%;
    padding: 0rem 2rem;
    overflow: auto;
    background-color: var(--yangsy-dark-color);
}
header h1 {
    font-size: 2.5rem;
    color: var(--bg-light-color);
}
div.content {
    padding: 1rem 2rem;
    margin: 0%;
    width: 100%;
    background-color: var(--bg-color);
}
footer {
    position: sticky;
    margin: 0%;
    bottom: 0%;
    width: 100%;
    padding: 1rem 2rem;
    background-color: light-dark(var(--yangsy-light-color), var(--yangsy-darker-color));
}