body {
    background-color: #D0D0D0D0;
    color: #404040;
    font-size: 100%;
    margin: 0rem 0rem;
    padding: 0rem 2rem;
}
div {
    margin: 0rem 0rem;
    padding: 0rem 1rem;
}
a {
    color: #405060;
}
h1 {
    font-size: 250%;
    font-weight: normal;
}
h2 {
    font-size: 150%;
    font-weight: normal;
}