body {
    font-family: 'Consolas', 'SimHei', 'Microsoft YaHei', monospace, sans-serif, serif;
    font-size: 16px;
    margin: auto;
    padding: 1em 2em;
    background-color: #4C8;
    color: #000;
}
div {
    margin: 0.5em 2em;
}
div.content {
    width: 50%;
    margin: auto;
    padding: 1em 2em;
    background-color: #FFF;
}
div.title {
    z-index: 16;
    position: relative;
    top: 0%;
    width: 60%;
    margin: auto;
    padding: 1em 2em;
    overflow: auto;
    background-color: #84F;
}
div.index {
    position: relative;
    top: 0%;
    left: 0%;
    margin: auto;
    padding: 1em 2em;
    background-color: #BED;
}
div.top {
    z-index: 16;
    position: sticky;
    top: 0%;
    width: 55%;
    max-height: 8em;
    margin: auto;
    padding: 1em 2em;
    overflow: auto;
    background-color: #CAF;
}
div.bottom {
    z-index: 16;
    position: sticky;
    bottom: 0%;
    width: 55%;
    margin: auto;
    padding: 1em 2em;
    background-color: #EDF;
}
h1 {
    font-size: 2.5em;
    color: #FFF;
}
div.index h1 {
    font-size: 2em;
    color: #486;
}
h2, dl dt {
    color: #80F;
}
h2 {
    font-size: 2em;
}
h3, dl dl dt {
    color: #60C;
}
h3 {
    font-size: 1.75em;
}
h4, dl dl dl dt {
    color: #408;
}
h4 {
    font-size: 1.5em;
}
h5 {
    color: #204;
}
h5 {
    font-size: 1.25em;
}
h6 {
    color: #102;
}
h6 {
    font-size: 1.125em;
}
p {
    font-size: 1em;
}
dl {
    padding: 0em;
}
dt {
    padding: 0em;
    color: #204;
}
dd {
    padding: 0.5em 2em;
}
sub, sup {
    font-size: 0.75em;
}
b {
    color: #80F;
}
i {
    color: #888;
}
a {
    font-size: inherit;
}
q {
    color: #648;
}
b i, i b {
    color: #86A;
}
q b, q i {
    color: unset;
}
a:link, a:link * {
    color: #F48;
}
a:visited, a:visited * {
    color: #486;
}
a:hover, a:hover * {
    color: #F8C;
}
a:active, a:active * {
    color: #4C8;
}
h1 a:link {
    color: #F8C;
}
h1 a:visited {
    color: #8FC;
}
h1 a:hover {
    color: #FCE;
}
h1 a:active {
    color: #CFE;
}
del.bc {
    color: #444;
    background-color: #444;
}
abbr{
    color: inherit;
    font-size: inherit;
}
code {
    font-family: 'Courier New', Courier, 'Consolas', monospace;
    font-weight: bold;
    background-color: #000;
    color: #FFF;
    font-size: inherit;
    padding: 0.125em .5em;
}
ul {
    list-style-type: disc;
}
ul.checked {
    list-style-type: disc;
}
ul.uncheck {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
ol.zero {
    list-style-type: decimal-leading-zero;
}
ol,ul {
    list-style-position: inside;
}
.nobr {
    word-wrap: nowrap;
}