@import url("color.css");
@import url("font/Aller.css");
/* roots */
html {
    font-family: "Consolas", "Courier New", "SimHei", "Microsoft YaHei", monospace, sans-serif, serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    background-color: light-dark(var(--monika-medium-color), color-mix(in srgb, var(--monika-dark-color), #000 50%));
    color: var(--text-colors);
}
/* global margin and padding */
div, section, article, dl {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0rem 2rem 0rem 2rem;
}
p, dd {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}
/* title */
h2, h3, h4, h5, h6 {
    margin: 0.5em 0em 0.5em 0em;
    padding: 0rem 0rem 0rem 0rem;
}
h1 {
    color: var(--title-colors);
    font-size: 2.5rem;
}
h2 {
    color: var(--title-colors);
    font-size: 2rem;
}
h3 {
    color: color-mix(in srgb, var(--title-colors), var(--title-colors2) 25%);
    font-size: 1.75rem;
}
h4 {
    color: color-mix(in srgb, var(--title-colors), var(--title-colors2) 50%);
    font-size: 1.5rem;
}
h5 {
    color: color-mix(in srgb, var(--title-colors), var(--title-colors2) 75%);
    font-size: 1.25rem;
}
h6 {
    color: color-mix(in srgb, var(--title-colors), var(--title-colors2) 50%);
    font-size: 1rem;
}
hr {
    border: 0.0625em solid var(--monika-dark-colors);
}
/* basic formats */
strong {
    color: var(--title-colors);
    font-weight: bold;
}
em {
    opacity: 62.5%;
    font-style: italic;
}
/* hei1 mu4 and hu2 hua4 */
del.heimu {
    background-color: #0005;
    text-decoration-line: none;
}
del.heimu:not(del:hover), del.heimu:not(del:hover) * {
    color: #5550;
    background-color: #555;
    text-shadow: unset;
}
del.huhua {
    opacity: 0.375;
}
/* other formats */
abbr{
    color: inherit;
    font-size: inherit;
}
code, var {
    font-family: 'Courier New', Courier, 'Consolas', monospace;
    background-color: #000;
    font-size: inherit;
    padding: 0.25rem;
}
code a, var a {
    text-shadow: none;
}
code {
    font-style: normal;
    color: #AAA;
}
code strong {
    color: #FFF;
}
var {
    color: #F5A;
}
var strong {
    color: #F8C;
}
/* list */
ul {
    list-style-type: disc;
}
ul.checked {
    list-style-type: disc;
}
ul.uncheck {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
ol.levels {
    list-style-type: decimal;
}
ol.levels li:last-child {
    list-style-type: "X. ";
}
ol.zero {
    list-style-type: decimal-leading-zero;
}
dt {
    font-weight: bold;
    padding: 0rem;
    color: color-mix(in srgb, var(--title-colors), var(--title-colors2) 50%);
}
/* description */
*[title] {
    text-decoration: dotted underline;
}
del[title] {
    text-decoration: dotted line-through;
}
del.heimu[title] {
    text-decoration: dotted underline;
}
del.huhua[title] {
    text-decoration: dotted line-through;
}
/* link */
a {
    --a-fg-colors: var(--link-rolocs);
    --a-bg-colors: var(--link-colors);
}
a.dark {
    --a-fg-colors: var(--link-dark-color);
    --a-bg-colors: var(--link-light-color);
}
a.light {
    --a-fg-colors: var(--link-light-color);
    --a-bg-colors: var(--link-dark-color);
}
a[href^="http"] {
    --a-fg-colors: var(--monika-rolocs);
    --a-bg-colors: var(--monika-colors);
}
a[href^="http"].dark {
    --a-fg-colors: var(--monika-dark-color);
    --a-bg-colors: var(--monika-light-color);
}
a[href^="http"].light {
    --a-fg-colors: var(--monika-light-color);
    --a-bg-colors: var(--monika-dark-color);
}
a {
    color: var(--a-fg-colors);
    text-shadow: 0.0625rem 0.0625rem 0rem var(--a-bg-colors);
    font-weight: bold;
    font-size: inherit;
}
a:hover {
    color: var(--a-bg-colors);
    text-shadow: 0.0625rem 0.0625rem 0rem var(--a-fg-colors);
}
a:active {
    color: var(--a-fg-colors);
    text-shadow: -0.0625rem -0.0625rem 0rem var(--a-bg-colors);
}
img.a {
    --button-bg-colors: var(--link-colors);
    --button-fg-colors: var(--link-rolocs);
}
/* button */
button {
    --button-bg-colors: var(--monika-colors);
    --button-fg-colors: var(--monika-rolocs);
}
img.a, button {
    border: none;
    background-color: var(--button-bg-colors);
    color: var(--button-fg-colors);
    box-shadow: 0.125rem 0.125rem var(--button-fg-colors);
}
img.a:hover, button:hover {
    background-color: var(--button-fg-colors);
    color: var(--button-bg-colors);
    box-shadow: 0.125rem 0.125rem var(--button-bg-colors);
}
img.a:active, button:active {
    box-shadow: -0.125rem -0.125rem var(--button-fg-colors);
}
img.a:hover:active, button:hover:active {
    box-shadow: -0.125rem -0.125rem var(--button-bg-colors);
}
img.icon {
    width: 1em;
    height: 1em;
}
img.iconhw {
    width: 0.5em;
    height: 0.5em;
}
/* container */
.bar {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 1px 0.5rem 1px 0.5rem;
    --bar-color: var(--yangsy-light-colors);
    box-sizing: border-box;
    border-left: 0.25rem solid var(--bar-color);
    background-color: rgb(from var(--bar-color) r g b / 25%);
}
.baz {
    margin: 0.5rem 0rem 0.5rem 0rem;
    padding: 1px 0.5rem 1px 0.5rem;
    --baz-color: var(--monika-dark-colors);
    box-sizing: border-box;
    border: 0.25rem solid var(--baz-color);
    background-color: rgb(from var(--baz-color) r g b / 25%);
    --title-colors: var(--monika-rolocs);
}
iframe {
    width: 100%;
    border: 0.25rem inset var(--monika-medium-color);
}
/* layout */
body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0rem 0rem;
}
aside {
    width: 20%;
    min-height: 100vh;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;
}
nav {
    position: relative;
    height: 75vh;
    top: 0%;
    margin: 0%;
    padding: 0rem 0rem 0rem 2rem;
    overflow: visible scroll;
    background-color: var(--monika-colors);
    color: var(--monika-rolocs);
    --title-colors: var(--monika-rolocs);
}
nav h1 {
    font-size: 2rem;
}
nav a {
    --a-fg-colors: var(--monika-rolocs);
    --a-bg-colors: var(--monika-colors);
}
nav strong {
    color: var(--monika-medium-color);
}
nav ol, nav ul, nav dl {
    padding: 0rem 1rem;
}
aside>div {
    position: relative;
    height: 25vh;
    bottom: 0%;
    margin: 0%;
    padding: 1rem 2rem;
    overflow: visible scroll;
    background-color: var(--bg-colors);
}
div.right {
    width: 80%;
    height: 100vh;
    margin: 0%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
header {
    position: relative;
    width: 100%;
    margin: 0%;
    padding: 0rem 2rem;
    background-color: var(--yangsy-medium-color);
}
header h1 {
    font-size: 2.5rem;
    color: var(--bg-light-color);
}
div.content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: visible scroll;
    margin: 0%;
    padding: 1rem 2rem;
    background-color: var(--bg-colors);
}
footer {
    position: relative;
    width: 100%;
    margin: 0%;
    padding: 1rem 2rem;
    background-color: var(--yangsy-colors);
}
#splash {
    font-family: "Aller", "Arial", "Helvetica", sans-serif;
}