@import url("color.css");
html {
    font-family: "Consolas", "Courier New", "SimHei", "Microsoft YaHei", monospace, sans-serif, serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
h1 {
    font-size: 2.5rem;
    color: var(--yangsy-roloc);
}
h2 {
    color: var(--yangsy-roloc);
    font-size: 2rem;
}
h3 {
    color: color-mix(in srgb, var(--yangsy-roloc), var(--text-color) 25%);
    font-size: 1.75rem;
}
h4 {
    color: color-mix(in srgb, var(--yangsy-roloc), var(--text-color) 50%);
    font-size: 1.5rem;
}
h5 {
    color: color-mix(in srgb, var(--yangsy-roloc), var(--text-color) 75%);
    font-size: 1.25rem;
}
h6 {
    color: color-mix(in srgb, var(--yangsy-roloc), var(--text-color) 87.5%);
    font-size: 1.125rem;
}
hr {
    border: 0.0625em solid light-dark(var(--monika-dark-color), var(--monika-darker-color));
}
p {
    font-size: 1rem;
}
dl {
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0rem 2rem;
}
dt {
    font-weight: bold;
    margin: 0rem 0rem 0.5rem 0rem;
    padding: 0rem;
    color: color-mix(in srgb, var(--text-color) 50%, var(--yangsy-roloc));
}
dd {
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem 2rem;
}
strong {
    color: var(--yangsy-roloc);
    font-weight: bold;
}
em {
    opacity: 62.5%;
    font-style: italic;
}
a {
    color: var(--link-roloc);
    text-shadow: 0.05rem 0.05rem 0rem var(--link-color);
    font-weight: bold;
    font-size: inherit;
}
a:hover {
    color: var(--link-color);
    text-shadow: 0.05rem 0.05rem 0rem var(--link-roloc);
}
a.dark {
    color: var(--link-dark-color);
    text-shadow: 0.05rem 0.05rem 0rem var(--link-light-color);
}
a.dark:hover {
    color: var(--link-light-color);
    text-shadow: 0.05rem 0.05rem 0rem var(--link-dark-color);
}
a.light {
    color: var(--link-light-color);
    text-shadow: 0.05rem 0.05rem 0rem var(--link-dark-color);
}
a.light:hover {
    color: var(--link-dark-color);
    text-shadow: 0.05rem 0.05rem 0rem var(--link-light-color);
}
del.heimu {
    background-color: #0005;
    text-decoration-line: none;
}
del.heimu:not(del:hover), del.heimu:not(del:hover) * {
    color: #5550;
    background-color: #555;
    text-shadow: unset;
}
del.huhua {
    opacity: 0.375;
}
abbr{
    color: inherit;
    font-size: inherit;
}
code, var {
    font-family: 'Courier New', Courier, 'Consolas', monospace;
    background-color: #000;
    font-size: inherit;
    padding: 0.125rem 0.25rem;
}
code a, var a {
    text-shadow: none;
}
code {
    font-style: normal;
    color: #AAA;
}
code strong {
    color: #FFF;
}
var {
    color: #F5A;
}
var strong {
    color: #F8C;
}
ul {
    list-style-type: disc;
}
ul.checked {
    list-style-type: disc;
}
ul.uncheck {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
ol.levels {
    list-style-type: decimal;
}
ol.levels li:last-child {
    list-style-type: "X. ";
}
ol.zero {
    list-style-type: decimal-leading-zero;
}
img.a {
    background-color: var(--link-light-color);
    border-color: var(--link-dark-color);
    border-width: 0.1rem;
    border-style: outset;
}
img.a:hover {
    background-color: var(--link-dark-color);
    border-color: var(--link-light-color);
    border-style: inset;
}
img.icon {
    width: 1rem;
    height: 1rem;
}
img.iconhw {
    width: 0.5rem;
    height: 0.5rem;
}
.nobr {
    word-wrap: nowrap;
}
.annotated {
    text-decoration: dotted underline;
}