@import url("color.css");
html {
    font-family: "Consolas", "Courier New", "SimHei", "Microsoft YaHei", monospace, sans-serif, serif;
    font-size: 16px;
    scroll-behavior: smooth;
}
h1 {
    font-size: 2.5rem;
    color: var(--yangsy-light-rolocs);
}
h2 {
    color: var(--yangsy-light-rolocs);
    font-size: 2rem;
}
h3 {
    color: color-mix(in srgb, var(--yangsy-light-rolocs), var(--text-colors) 25%);
    font-size: 1.75rem;
}
h4 {
    color: color-mix(in srgb, var(--yangsy-light-rolocs), var(--text-colors) 50%);
    font-size: 1.5rem;
}
h5 {
    color: color-mix(in srgb, var(--yangsy-light-rolocs), var(--text-colors) 75%);
    font-size: 1.25rem;
}
h6 {
    color: color-mix(in srgb, var(--yangsy-light-rolocs), var(--text-colors) 87.5%);
    font-size: 1.125rem;
}
hr {
    border: 0.0625em solid --monika-dark-colors;
}
p {
    font-size: 1rem;
}
dl {
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0rem 2rem;
}
dt {
    font-weight: bold;
    margin: 0rem 0rem 0.5rem 0rem;
    padding: 0rem;
    color: color-mix(in srgb, var(--text-colors) 50%, var(--yangsy-light-rolocs));
}
dd {
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem 2rem;
}
strong {
    color: var(--yangsy-light-rolocs);
    font-weight: bold;
}
em {
    opacity: 62.5%;
    font-style: italic;
}
a {
    --a-fg-colors: var(--link-rolocs);
    --a-bg-colors: var(--link-colors);
}
a.dark {
    --a-fg-colors: var(--link-dark-color);
    --a-bg-colors: var(--link-light-color);
}
a.light {
    --a-fg-colors: var(--link-light-color);
    --a-bg-colors: var(--link-dark-color);
}
a[href^="http"] {
    --a-fg-colors: var(--monika-rolocs);
    --a-bg-colors: var(--monika-colors);
}
a[href^="http"].dark {
    --a-fg-colors: var(--monika-dark-color);
    --a-bg-colors: var(--monika-light-color);
}
a[href^="http"].light {
    --a-fg-colors: var(--monika-light-color);
    --a-bg-colors: var(--monika-dark-color);
}
a {
    color: var(--a-fg-colors);
    text-shadow: 0.0625rem 0.0625rem 0rem var(--a-bg-colors);
    font-weight: bold;
    font-size: inherit;
}
a:hover {
    color: var(--a-bg-colors);
    text-shadow: 0.0625rem 0.0625rem 0rem var(--a-fg-colors);
}
a:active {
    color: var(--a-fg-colors);
    text-shadow: -0.0625rem -0.0625rem 0rem var(--a-bg-colors);
}
img.a {
    --button-bg-colors: var(--link-colors);
    --button-fg-colors: var(--link-rolocs);
}
button {
    --button-bg-colors: var(--monika-colors);
    --button-fg-colors: var(--monika-rolocs);
}
img.a, button {
    border: none;
    background-color: var(--button-bg-colors);
    color: var(--button-fg-colors);
    box-shadow: 0.125rem 0.125rem var(--button-fg-colors);
}
img.a:hover, button:hover {
    background-color: var(--button-fg-colors);
    color: var(--button-bg-colors);
    box-shadow: 0.125rem 0.125rem var(--button-bg-colors);
}
img.a:active, button:active {
    box-shadow: -0.125rem -0.125rem var(--button-fg-colors);
}
img.a:hover:active, button:hover:active {
    box-shadow: -0.125rem -0.125rem var(--button-bg-colors);
}
del.heimu {
    background-color: #0005;
    text-decoration-line: none;
}
del.heimu:not(del:hover), del.heimu:not(del:hover) * {
    color: #5550;
    background-color: #555;
    text-shadow: unset;
}
del.huhua {
    opacity: 0.375;
}
abbr{
    color: inherit;
    font-size: inherit;
}
code, var {
    font-family: 'Courier New', Courier, 'Consolas', monospace;
    background-color: #000;
    font-size: inherit;
    padding: 0.125rem 0.25rem;
}
code a, var a {
    text-shadow: none;
}
code {
    font-style: normal;
    color: #AAA;
}
code strong {
    color: #FFF;
}
var {
    color: #F5A;
}
var strong {
    color: #F8C;
}
ul {
    list-style-type: disc;
}
ul.checked {
    list-style-type: disc;
}
ul.uncheck {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
ol.levels {
    list-style-type: decimal;
}
ol.levels li:last-child {
    list-style-type: "X. ";
}
ol.zero {
    list-style-type: decimal-leading-zero;
}
img.icon {
    width: 1rem;
    height: 1rem;
}
img.iconhw {
    width: 0.5rem;
    height: 0.5rem;
}
.nobr {
    word-wrap: nowrap;
}
*[title] {
    text-decoration: dotted underline;
}