div.curstr {
    width: 50%;
    margin: auto;
    padding: 1em 0.5em;
    background-color: #336;
    color: #FFF;
    text-align: center;
    text-shadow: 0.1em 0.1em #000F;
    white-space: pre;
}
span.curstr\+ {
    color: #F66;
    text-shadow: inherit inherit #6006;
}
span.curstr\* {
    color: #6F6;
    text-shadow: inherit inherit #0606;
}