body {
    padding: 0px;
    margin: 0px;
    font-family: 'Consolas', 'SimHei', 'Microsoft YaHei', monospace, sans-serif, serif;
    font-size: 16px;
}
.indent2 {
    text-indent: 2em;
}
.indent4 {
    text-indent: 4em;
}
div {
    margin: auto;
    padding: 2em;
}
div.content {
    width: 75%;
    margin: auto;
    padding: 2em;
    background-color: #FFF;
}
div.title {
    margin: auto;
    padding: 2em;
    background-color: #EDF;
}
hr {
    border: none;
    border-top-style: solid;
    border-top-width: 4px;
    border-top-color: #C8F;
}
h1 {
    font-size: 3em;
    color: #80F;
}
h2 {
    font-size: 2em;
    color: #408;
}
h3 {
    font-size: 1.5em;
    color: #204;
}
h4,h5,h6 {
    font-size: 1.25em;
    color: #102;
}
p {
    font-size: 1em;
    color: #000;
}
b {
    color: #60C;
}
i {
    color: #888;
}
a {
    font-size: inherit;
}
b i, i b {
    color: #648;
}
b.x, i.x, a.x {
    color: unset;
}
a:link {
    color: #F08;
}
a:visited {
    color: #486;
}
a:hover {
    color: #F4C;
}
a:active {
    color: #4C8;
}
abbr{
    color: inherit;
    font-size: inherit;
}
ul {
    list-style-type: disc;
}
ul.filled {
    list-style-type: disc;
}
ul.hollow {
    list-style-type: circle;
}
ol {
    list-style-type: decimal;
}
ol.zero {
    list-style-type: decimal-leading-zero;
}